@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

// Vars fonts

$mainFont: 'Roboto', sans-serif;

// sizes
$textSmall: 0.8em;
$textMedium: 1em;
$textLarge: 1.6em;
$textXl: 3em;
