<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Productos - Ezequiel Bustamante</title>
    <meta name="author" content="Santiago Benitez"
    <meta name="description" content="Los mejores productos y suplementos deportivos con la mejor calidad en todo Cordoba y el pais"
    <meta name="keywords" content="suplementos deportivos cordoba, proteina, vitaminas, aminoacidos, fitness cordoba, dietas deportivas, planes de gimnasio"
    <link rel="shortcut icon" href="../img/EB.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
        <!-- VINCULAR A CSS -->
  <link rel="stylesheet" href="../css/style.css">
  </head>


  <body>

    <!-- NAVBAR BOOTSTRAP -->

    <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand brandTitle text-white" id="brandTitle" href="#">Ezequiel Bustamante</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="../index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="quiensoy.html">Sobre mí</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="productos.html">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="servicios.html">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="contacto.html">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<main>
  
<div class="cards">

  <div class="cardd">
        <div class="cardBody">
      <h3>Gainers</h3>
      <p class="pProducts">Los gainers o ganadores de peso son suplementos deportivos para aquellos atletas y deportistas que, debido a sus objetivos, necesitan mantener una dieta con muy altos niveles de carbohidratos o que les cuesta subir de peso ganando masa muscular magra. </p>
    </div>
    <a href="error404.html"><img class="cardImg" src="../img/mutantmass.png" alt="Ganador de peso Mutant Mass de la marca Start Nutrition">
  </div></a>

<div class="cardd">
    <div class="cardBody">
    <h3>Proteinas</h3>
    <p class="pProducts">La proteína de suero es una de las principales proteínas que se encuentran en los productos lácteos. Es un derivado del proceso de producción del queso y proporciona cantidades considerables de aminoácidos esenciales, necesarios para llevar a cabo las funciones de las proteínas en el organismo</p>
</div>
<a href="error404.html"> <img class="cardImg" src="../img/wheywhey.png" alt="Proteina de suero de leche generica de denominacion Whey Protein">
</div></a>
    
<div class="cardd">
    <div class="cardBody">
    <h3>Aminoácidos</h3>
    <p class="pProducts">Los aminoácidos son compuestos orgánicos que el cuerpo utiliza para producir proteínas y así cumplir con funciones importantes como intervenir en el crecimiento, reparar tejidos del organismo, descomponer los alimentos y muchas más tareas indispensables para el correcto funcionamiento del cuerpo humano.</p>
</div>
<a href="error404.html"> <img class="cardImg" src="../img/nitrogain.png" alt="">  
</div></a>




</main>












  <!-- Footer -->
<footer class="bg-dark text-center text-white">

  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">

      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/ezequiel.bustamante.357" target="_blank" role="button">
        <i class="fab fa-facebook-f"></i>
      </a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/eze.bustamante/" target="_blank" role="button">
        <i class="fab fa-instagram"></i>
      </a>

      <!-- Whatsapp -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://api.whatsapp.com/send/?phone=5493516975118&text&app_absent=0"
      target="_blank" role="button">
        <i class="fab fa-whatsapp"></i>
      </a>

    </section>
    <!-- Section: Social media -->




    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>