<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yo - Ezequiel Bustamante</title>
    <meta name="author" content="Santiago Benitez"
    <meta name="description" content="Preparador fisico Ezequiel Bustamante, campeon nacional en atletismo y reconocidos premios en salud y entrenamiento. Comenza hoy mismo"
    <meta name="keywords" content="Ezequiel Bustamante, preparador fisico cordoba, entrenamiento a medida, planes personalizado, entrenamiento presencial cordoba"
    <link rel="shortcut icon" href="../img/EB.png">
       
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
       <!-- VINCULAR A CSS -->
  <link rel="stylesheet" href="../css/style.css">
  </head>






  <body>

    <!-- NAVBAR BOOTSTRAP -->

    <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand brandTitle text-white" id="brandTitle" href="../index.html">Ezequiel Bustamante</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="../index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="quiensoy.html">Sobre mí</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="productos.html">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="servicios.html">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="contacto.html">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<main class="quienSoy">
  <div class="card bg-dark" style="width: 18rem;">
  <img src="../img/mojarra-titulo.jpg" class="card-img-top" alt="Ezequiel Bustamante recibiendo un premio estimulo de la federacion atletica metropolitana por haber participado en el 52 campeonato nacional U18 en el año 2019">
  <div class="card-body">
    <h5 class="card-title">Ezequiel Bustamante Ferreras</h5>
    <p class="card-text">Atleta de alto rendimiento deportivo y profesor de educacion fisica</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-dark">Campeon Nacional Argentino U23</li>
    <li class="list-group-item bg-dark">Récord provincial 10,65” | 100m</li>
    <li class="list-group-item bg-dark">X6 Campeón provincial | 100m</li>
  </ul>
  <div class="card-body">
    <a href="contacto.html" class="card-link">Contáctame</a>
  </div>
</div>


</main>





<!-- Footer -->
<footer class="bg-dark text-center text-white">

  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">

      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/ezequiel.bustamante.357" target="_blank" role="button">
        <i class="fab fa-facebook-f"></i>
      </a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/eze.bustamante/" target="_blank" role="button">
        <i class="fab fa-instagram"></i>
      </a>

      <!-- Whatsapp -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://api.whatsapp.com/send/?phone=5493516975118&text&app_absent=0"
      target="_blank" role="button">
        <i class="fab fa-whatsapp"></i>
      </a>

    </section>
    <!-- Section: Social media -->




    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>